@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.state-label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #0f172a !important; /* Black/Dark text */
  font-weight: 700;
  font-size: 11px;
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.8); /* Adds a crisp white glow so black text pops */
  pointer-events: none;
}

.leaflet-tile-pane {
  filter: brightness(0.75) contrast(1.11);
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
background-color: #111111 !important;
}